*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

body{
    background-color: #0a192f;
    width:auto;
}
header{
    background-color: #0a192f;
    width:auto;
    height:5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
header>#div1{
     /* background-color: rgb(43, 6, 83);  */
    height:100%;
    width:12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
header>#div1>img{
    height:55%;
    width:75%;
}
header>#div2{
    /* background-color: rgb(223, 157, 71);  */
    height:100%;
    width:29%;
} 
header>#div3{
     /* background-color: rgb(6, 61, 26);  */
    height:100%;
    width:59%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
} 
header>#div3> .nav{
    text-decoration: none;
    color:#afbbd9;

}
span{
    color:#58e2c5;
    font-weight:normal;
}
header>#div3> .nav:hover{
    color:#58e2c5;
}
header>#div3>a>button{
    height:40px;
    width:90px;
    color:#58e2c5;
    border:1px solid #58e2c5;
    background-color: #0a192f;
    border-radius: 8px;
   
}
header>#div3>a>button:hover{
    cursor:pointer;
    filter:invert(0.1);
}
header>svg{
    position: absolute;
    top:0.5;
    right:1rem;
     display: none;  
     
}

header>svg:hover +#dropdown{
    display: block;
}

header>#dropdown{
    position: absolute;
    width: 100px;
    height: 10rem;
    /* border: 1px solid rgb(18, 11, 11); */
    /* background-color: black; */
 
     display: none; 
}
.ham{
    line-height: 2cm;
    color: aliceblue;
}
#section1{
    background-color:#0a192f;
    width:100%;
    height:32rem;
}
#section1>#left{
    width:40px;
     height:70%; 
     /* background-color: #058c49;  */
     position: fixed; 
     color:#a8b2d1;
     z-index: 10;
     bottom: 0px;
     left:30px;
     right:auto;
   
}
#section1>#left>ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 45px;
    
}
#section1>#left>ul>hr{
    height:90px;
    position: relative;
    top:20px;
    
}
svg>:hover{
    filter:invert(9);
    cursor: pointer;
}


#section1>#right{
    width:40px;
     height:70%; 
    /* background-color: #058c49;  */
     position: fixed; 
     color:#a8b2d1;
     z-index: 10;
     bottom: 0px;
     left:auto;
     right:30px;
   
   
} 
#section1>#right>p{
    transform: rotate(90deg);
    position: relative;
    top:15px;
    
}
#section1>#right>p>a{
    text-decoration: none;
    color: #a8b2d1;
}

#section1>#right>p>a:hover{
    color: #58e2c5;
}
#section1>#right>hr{
    height:90px;
    width: 0px;
    position: relative;
    top:225px;
    left:20px;
    
}
#section1>#middle1{
     /* background-color: #5c95ea;  */
    width:200px;
    height:50px;
    position: relative;
    left:110px;
    top:20px;
}
#section1>#middle1>p{
    font-size: 20px;
    color:#58e2c5;
    font-family: 'Roboto Mono', monospace;
    width:200px;
}
#section1>#middle2{
    /* background-color: #5c95ea;   */
   width:550px;
   height:100px;
   position: relative;
   top:15px;
   left:110px;
}
#section1>#middle2>h2{
    font-size: 82px;
    color:#1a73e8;
    font-weight: 600;
    width:550px;
    font-style: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    
}
#section1>#middle3{
    /* background-color: #5c95ea;    */
   width:850px;
   height:100px;
   position: relative;
   top:20px;
   left:110px;
}
#section1>#middle3>h2{
    font-size: 72px;
    color:#8892b0;
    font-weight: 600;
    width:850px;
    font-style: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    
}
#section1>button{
    position:relative;
    left:110px;
    top:100px;
   
    height:60px;
    background-color:#0a192f;
    color:#58e2c5;
    border: 1px solid #58e2c5;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    width:250px;
    font-size: 17px;
    cursor:pointer;
    
}
#section1>button:hover{
    filter: invert(0.1);
}
#section2{
    background-color:#0a192f;
    height:42rem;
    width:100%;
    display: flex;
    justify-content:space-evenly;

}
#img1{
    width: 200px;
    height: 250px;
    border-radius: 15px;
    position: relative;
    left: 20rem;
    /* display: none; */
    
}
#img1>img{
    width: auto;
    height: 100%;
    border-radius: 15px;
    
}
/* #section2>p{
    color: #1a73e8;
    /* background-color:#0a192f; 
    width:200px;
    height:50px;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left:110px; */ 

#extra>hr{
    height:1px;
    width:150px;
    background-color:#5f6b63;
     position: relative;
    top:-10px;
    left:200px; 

}
.background{
    width:250px;
    height:300px;
     /* background-color: #0453b9;    */
    /* position: relative;
    left:670px;
    top:-430px;  */
    border: 2px solid  #58e2c5;
    border-radius: 8px;
    


}
.image{
    height:300px;
    width:250px;
       position: relative; 
      
    left:20px; 
    /* background-color: #b5ac98; */
    top:-280px; 
    border-radius: 8px;
    
}
.image>img{
    height:100%;
    width:100%;
    opacity: 0.9;
    border-radius: 8px;
    position: relative;
   
}
 .image> .overlay_image>img{
    width:100%;
    height:100%;
    border-radius: 8px;
}
 .image> .overlay_image{
    width:100%;
    height:100%;
    background-color: #0a192f;
    top:0;
    right:0;
    opacity:0;
    /* transition: 1s; */
    /* position: absolute; */
    border-radius: 8px;
    position: absolute;
}
.ham{
    position: relative;
    right:-500px;
    top:90px;
}
.image:hover .overlay_image{
    opacity:1;
    
}
#section2>#sec2_back{
    background-color:#0a192f;
    width:30%;
    height:80%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#section2>#about_me{
    background-color:#0a192f; 
    width:46%;
    height:90%;
   display: flex;
   justify-content: center;
   align-items: center;
    color:#58e2c5;
}
/* #section2>#about_me>p:nth-of-type(1){
    
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    position: relative;
    top:-292px;
    background-color: #b5ac98;
    width: 100px;

} */

#extra>p{
    
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    /* background-color: #1a73e8;  */
    /* position: relative;
    top:50px; */
    color:#58e2c5;
    

}
#section2>#about_me>p{
    
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    /* background-color: #1a73e8; */
    /* position: relative;
    top:50px; */
    color:#58e2c5;
    text-align: justify;

}
#section3{
    background-color:#0a192f;
    height:28rem;
    width:100%;
     display: flex;
    justify-content: center;
    align-items: center;
   

}
#section3>#last{
    background-color:#0a192f;
    width:500px;
    height:400px;
}
#section3>#last>p{
    color: #16ee5e;
    display: flex;
    justify-content: center; 
    
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;

}
#section3>#last>h2{
    color:#1a73e8;
    display: flex;
    justify-content: center; 
    
    font-size: 70px;
    font-family: 'Roboto Mono', monospace;

}
#section3>#last>a>button{
    width:160px;
    height:50px;
    display: flex;
     justify-content:space-evenly ; 
    align-items: center; 
     position: relative;
   top:180px;
   left:180px; 
   font-family: 'Roboto Mono', monospace;
   font-size: 20px;
   background-color:#0a192f;
   border: 1px solid #16ee5e; 
   color: #a8b2d1;
   border-radius: 8px;
   text-decoration:none;

}
a{
    text-decoration: none;
}
#section3>#last>a>button:hover{ 
    cursor: pointer;
    filter: invert(0.1);
}
#extra{
    height:5rem;
    width:80%;
    background-color:transparent;
  position: relative;
  left:90px;
}
@media  screen and (max-width:500px){
    background{
        width:400px;
    }
    
    #section1>#middle2>h2{
        font-size: 40px;
    }
    #section1>#middle3>h2{
        font-size: 3.5em;
    }
    #img1{
        display: block;
        display: flex;
        align-items: center;
    }
    .background{
        display: none;
    }
    .image{
        display: block;
        position: relative;
        top: 5rem;
        left: -8rem;
      
    }
    #section2>#about_me{
        width: auto;
        height: 100px;
    }
    
    #section2>#about_me>p{
        font-size: 18px;
        position: relative;
        left:150px;
        top: 15rem;
        
       text-align: center;
        
    }
      #last{
        position: relative;
        top:-200px;
        left:400px;
    } 
    #last>button{
        position:relative;
        top:-90px;
    }
    header>svg{
        display: block;
        position: relative;
        left: 30rem;
        
    }
    
    header>#div3{
        display: none;
    }
    #left{
        display: none;
    }
    #right{
        display: none;
    }
    #section3{
        position: relative;
        top: 5rem;
        right: 15rem;
        background-color: transparent;
    }
    #last{
        position: relative;
        top: 30rem;
        right: 51rem;
    }
    #last123{
        position: relative;
        right: 6rem;
    }
    #dimag{
        position: relative;
        right: 9rem;
    }
    #dropdown{
        position: relative;
        left: 15rem;
        background-color: transparent;
    }
  #left{
    display:none;

  }
  #right{
    display:none;
  }
   
    
}

    
 /* @media  screen and (min-width:600px){

    #section2>#about_me{
        width: auto;
        height: 100px;
    }
    
    #section2>#about_me>p{
        font-size: 18px;
        position: relative;
        left:150px;
        top: 35rem;
        
       text-align: center;
        
    }
}  */
 /* @media  screen and (min-width:634px){

    #section2>#about_me{
        width: auto;
        height: 100px;
    }
    
    #section2>#about_me>p{
        font-size: 18px;
        position: relative;
        left:150px;
        top: 55rem;
        
       text-align: center;
        
    }
}   */
@media(max-width:700px){
    .background{
        display: none;
    }
    .image{
        display: block;
        position: relative;
        top: 5rem;
        left: -8rem;
      
    }
    #section2>#about_me>p{
        font-size: 18px;
        position: relative;
        left:150px;
        top: 47rem;
        
       text-align: center;
        
    }
    #last{
        position: relative;
        top:-100px;
        left:400px;
    } 
    #last>button{
        position:relative;
        top:-90px;
    }
    header>svg{
        display: block;
        position: relative;
        left: 30rem;
        
    }
    
    header>#div3{
        display: none;
    }
    #left{
        display: none;
    }
    #right{
        display: none;
    }
    #section3{
        position: relative;
        top: 5rem;
        right: 15rem;
        background-color: transparent;
    }
    #last{
        position: relative;
        top: 30rem;
        right: 51rem;
    }
    #last123{
        position: relative;
        right: 6rem;
    }
    #dimag{
        position: relative;
        right: 9rem;
    }
    #dropdown{
        position: relative;
        left: 15rem;
        background-color: transparent;
    }
  #left{
    display:none;

  }
  #right{
    display:none;
  }
}